@charset "UTF-8";
/* GLOBALS */
body,
main {
  background: linear-gradient(to bottom, #1393d7, white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  padding: 0.8em;
}

i {
  color: black;
  font-size: 1.5rem;
  margin: 0.15em;
}

footer {
  background-color: #1393d7;
}

.card {
  min-width: 200px;
  max-width: 400px;
  transition: all 0.2s ease-in;
}
.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.max-w-400 {
  max-width: 400px;
}

.max-w-500 {
  max-width: 500px;
}

.max-w-700 {
  max-width: 700px;
}

.max-w-850 {
  max-width: 850px;
}

.max-w-1000 {
  max-width: 1000px;
}

.max-h-200 {
  max-height: 200px;
}

.max-h-450 {
  max-height: 450px;
}

.max-h-600 {
  max-height: 600px;
}

/* NAVBAR */
nav {
  background: url(../pictures/navbar-image.jpg), no-repeat;
  background-position: 50% 48%;
  background-size: cover;
}

.navbar-collapse {
  justify-content: end;
}

.nav-link {
  font-size: 1.6rem;
  letter-spacing: 0.75px;
  border-bottom: 2px solid transparent;
}

#logo {
  width: 70px;
  border: 10px double white;
  border-radius: 25%;
}

/* navbar media-query */
@media screen and (min-width: 768px) {
  .nav-link:hover {
    transition: all 0.5s ease-in;
    color: white;
  }
  .nav-link:not(.active):hover {
    border-bottom: 2px solid white;
  }
}
/* INDEX */
.carousel-inner {
  max-height: 87vh;
  max-width: 95vw;
  margin: 2rem auto;
  min-width: 200px;
}

#movie-card {
  max-width: 1000px;
  width: 90vw;
  border: 1px solid black;
  border-radius: 15px;
}
#movie-card:hover {
  box-shadow: none;
  transform: none;
}

#movie-video {
  width: 95%;
  margin: 20px auto 0;
}

/* index media-query */
@media screen and (min-width: 768px) {
  #movie-card {
    width: 75vw;
  }
}
@media screen and (min-width: 992px) {
  #movie-card {
    width: 60vw;
  }
  .carousel-inner {
    max-width: 80vw;
  }
}
/* BIOGRAFÍA */
.bio-p {
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
  font-size: 1.25rem;
}

.bio-img,
.bio-p {
  width: 95vw;
}

/* bio media-query */
@media screen and (min-width: 768px) {
  .bio-img,
.bio-p {
    width: 75vw;
  }
}
@media screen and (min-width: 992px) {
  .bio-img,
.bio-p {
    width: 55vw;
  }
}
/* LOGROS */
.gif {
  width: 90%;
  max-width: 450px;
}

.records-list {
  text-indent: 1.5%;
  margin: 0 auto;
  font-weight: 400;
  font-size: 1.25rem;
}
.records-list li {
  line-height: 2;
  list-style-type: "🐐";
}
.records-list li:hover, .records-list li:focus {
  font-weight: 700;
}

.titulos-list {
  font-size: 1.15rem;
  text-indent: 1.5%;
  padding-top: 1em;
  list-style-type: "⚽";
}

/* logros media-query */
@media screen and (min-width: 992px) {
  .gif {
    max-width: 600px;
    width: 50vw;
    max-height: 300px;
  }
  .titulos-list {
    padding-bottom: 2em;
  }
}
@media screen and (min-width: 1200px) {
  .titulos-list {
    padding-bottom: 0.5em;
    margin-top: 3em;
  }
}
/* TIENDA */
.tienda-img {
  max-height: 300px;
  max-width: 300px;
}

#btn-carrito {
  display: inline-block;
  border-radius: 10%;
  border: 3px solid rgb(35, 169, 70);
  transition: 0.4s all ease-in;
}
#btn-carrito:hover {
  background-color: rgb(35, 169, 70);
}

#carrito {
  color: rgb(35, 169, 70);
  font-size: 3rem;
  padding: 22px;
  margin: 0;
  transition: 0.4s all ease-in;
}
#carrito:hover, #carrito:focus {
  color: white;
}

/* SORTEO */
.sorteo-form {
  border: 8px double rgba(0, 0, 0, 0.7);
  color: white;
  background-color: rgba(40, 40, 40, 0.65);
  display: flex;
  flex-flow: column wrap;
  border-radius: 2%;
  font-weight: 600;
  padding: 1.5em;
}

/* sorteo media-query*/
@media screen and (min-width: 992px) {
  .sorteo-form {
    width: 80vw;
  }
}
@media screen and (min-width: 1200px) {
  .sorteo-form {
    width: 65vw;
  }
}
@media screen and (min-width: 1400px) {
  .sorteo-form {
    width: 55vw;
  }
}

/*# sourceMappingURL=style.css.map */
