/* Selectores */

body,
main {
  background: linear-gradient(to bottom, #1393d7, white);
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  padding: 0.8em;
}

i {
  color: black;
  font-size: 1.5rem;
  margin: 0.15em;
}

nav {
  background: url(https://images7.alphacoders.com/116/1161476.jpg), no-repeat;
  background-position: 50% 48%;
  background-size: cover;
}

footer {
  background-color: #1393d7;
}

/* Clases */

.bio-p {
  text-align: center;
}

.bio-img {
  max-width: 600px;
}

.card {
  min-width: 200px;
  max-width: 400px;
}

.carousel-inner {
  max-height: 87vh;
  max-width: 83vw;
  margin: auto;
}

.nav-item {
  font-size: 1.6rem;
}

.navbar-collapse {
  justify-content: end;
}

.max-w-700 {
  max-width: 700px;
}

.tienda-img {
  max-height: 300px;
  max-width: 300px;
}

/* ID's */

#carrito {
  font-size: 3rem;
  max-width: 100px;
  padding: 10px;
  border-radius: 10%;
}

#logo {
  width: 70px;
  border: 10px double white;
  border-radius: 25%;
}

#movie-card {
  max-width: 1000px;
  width: 85%;
  background-color: rgb(240, 240, 240);
}

#form-sorteo {
  border: 4px double rgb(143, 131, 131);
  max-width: 800px;
  display: flex;
  flex-flow: column wrap;
  border-radius: 2%;
  font-weight: 600;
}
