/* INDEX */

.carousel-inner {
  width: 100vw;
  margin: 2rem auto;
  max-width: 1500px;
  max-height: 98vh;

  @media screen and (min-width: 576px) {
    & {
      width: 95vw;
    }
  }

  @media screen and (min-width: 992px) {
    & {
      width: 80vw;
    }
  }
}

#movie-card {
  max-width: 1000px;
  width: 90vw;
  border: 1px solid black;
  border-radius: 15px;

  &:hover {
    box-shadow: none;
    transform: none;
  }

  @media screen and (min-width: 768px) {
    & {
      width: 75vw;
    }
  }

  @media screen and (min-width: 992px) {
    & {
      width: 60vw;
    }
  }
}

#movie-video {
  width: 95%;
  margin: 20px auto 0;
}
