/* NAVBAR */

nav {
  background: url(../pictures/navbar-image.jpg), no-repeat;
  background-position: 50% 48%;
  background-size: cover;
}

.navbar-collapse {
  justify-content: end;
}

.nav-link {
  font-size: 1.6rem;
  letter-spacing: 0.75px;
  border-bottom: 2px solid transparent;

  @media screen and (min-width: 768px) {
    &:hover {
      transition: all 0.3s ease-in;
      color: white;
    }

    &:not(.active):hover {
      border-bottom: 2px solid white;
    }
  }
}

#logo {
  width: 70px;
  border: 10px double white;
  border-radius: 25%;
}
